<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ParkSS.Properties.Settings.ConnectionString" connectionString="Data Source=b1feb347-a856-4e2a-9223-a9a7010c7b61.sqlserver.sequelizer.com;Initial Catalog=dbb1feb347a8564e2a9223a9a7010c7b61;Persist Security Info=True;User ID=ewvceiluattpbfqh;Password=34wKA4rydVBiVZRFhmXf3MuJ5dycnM4YSK8sYpdqJzbx2sbhcpBZwExpGVNxCpkx" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>